<div class="row">
  @for (recipe of recipes(); track recipe.id) {
    <div class="col-md-4 mb-4">
      <div class="card">
        <!-- <img src="{{ recipe.imageUrl }}" class="card-img-top" alt="{{ recipe.name }}"> -->
        <div class="card-body">
          <h5 class="card-title">{{ recipe.name }}</h5>
          <p class="card-text">{{ recipe.description }}</p>
          <ul class="list-group list-group-flush">
            @for (ingredient of recipe.ingredients; track $index) {
              <li class="list-group-item">{{ ingredient }}</li>
            }
          </ul>
          <p class="card-text mt-2">{{ recipe.instructions }}</p>
        </div>
      </div>
    </div>
  } @empty {
    <div class="col">There are no recipes.</div>
  }
</div>
