<div class="container mt-5">
  <hr>
  <!-- <div *ngIf="loading">Loading...</div> -->
  <!-- <div *ngIf="recipes && !loading"> -->
  <div>
    <div class="row">
      @for (recipe of recipes; track recipe.id) {
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ recipe.name }}</h5>
              <p class="card-text">{{ recipe.description }}</p>
              <button class="btn btn-danger" (click)="deleteRecipe(recipe.id)">Delete</button>
            </div>
          </div>
        </div>
      }
    </div>

    <div class="container mt-5">
      <h2>Add New Recipe</h2>
      <div>
        <div class="mb-3">
          <label for="recipeName" class="form-label">Name:</label>
          <input type="text" class="form-control" id="recipeName" [(ngModel)]="newRecipe.name" name="recipeName" required>
        </div>
        <div class="mb-3">
          <label for="recipeDescription" class="form-label">Description:</label>
          <textarea class="form-control" id="recipeDescription" [(ngModel)]="newRecipe.description" name="recipeDescription" required></textarea>
        </div>
        <button type="button" class="btn btn-primary" (click)="addRecipe()">Add Recipe</button>
      </div>
    </div>

  </div>
</div>
