<div class="row">
  @if (loading()) {
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  }
  @if (!loading() && recipes().length === 0) {
    <div>No recipes</div>
  }
  @for (recipe of recipes(); track recipe.id) {
    <div class="col-md-4 mb-4">
      <app-recipes-list-item
        [recipe]="recipe"
        (recipeDeleted)="deleteRecipeEventHandler()">
      </app-recipes-list-item>
    </div>
  }
</div>
